#root {
  font-family: 'Roboto', sans-serif;
  width: 95%;
  margin-top: -5%;
}

body {
  box-sizing: border-box;
  background-color: #f5fbff;
  padding: 20px;
}



h1 {
  margin-left: 15px;
}

.board {
  display: flex;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logout-container span {
  font-size: 20px;
}

.logout-container svg {
  margin-right: 20px;
  color: rgb(255, 124, 124);
}