#root {
  font-family: 'Roboto', sans-serif;
  width: 95%;
  margin-top: -5%;
}

body {
  box-sizing: border-box;
  background-color: #e9f5ff;
  padding: 20px;
}



h1 {
  margin-left: 15px;
}

.board {
  display: flex;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logout-container span {
  margin-right: 8px;
  font-size: 20px;
}

.logout-container svg {
  color: #f00;
  /* Puedes cambiar el color según tus necesidades */
}