.column {
    border-radius: 8px;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex: 1;
    min-height: 400px;
    max-height: 450px;
    background-color: #f4f4f4;
}

h2 {
    margin-left: 10px;
}

.column.backlog {
    background-color: #D3CEFF;
}

.column.todo {
    background-color: #C4E2FC;
}

.column.inprogress {
    background-color: #FAE9CE;
}

.column.done {
    background-color: #E9FFDA;
}

.column section {
    width: 100%;
    max-height: 420px;
    overflow-y: auto;
    padding-right: 10px;
}

.column section::-webkit-scrollbar {
    width: 0;
    height: 0;
}

ul {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin-bottom: 10px;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

p {
    text-align: center;
    color: #666;
    margin-top: 20px;
}

.column h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1rem;
}

.add-task-btn {
    padding: 1rem 1rem;
    border: 3px dashed;
    color: #333;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.add-task-btn svg {
    margin-right: 8px;
}

.add-task-btn:hover {
    color: inherit;
}

.add-task-btn.backlog {
    background-color: #dcd8ff;
    border-color: #b9b4e9;
    color: #9c93e8;
}

.add-task-btn.todo {
    background-color: #cfe7fc;
    border-color: #a2c6f6;
    color: #2196f3;
}

.add-task-btn.inprogress {
    background-color: #fdf0dc;
    border-color: #f1d29c;
    color: #ffc107;
}

.add-task-btn.done {
    background-color: #ecfae3;
    border-color: #b7e6b3;
    color: rgb(78, 194, 82);
}

.column-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.backlog .column-title {
    color: #9c93e8;
}

.todo .column-title {
    color: #2196f3;
}

.inprogress .column-title {
    color: #ffc107;
}

.done .column-title {
    color: rgb(78, 194, 82);
}